<!-- src/app/components/tabla/tabla.component.html -->
<div class="tabla-container" style="margin: 20px;">
  <table mat-table [dataSource]="registros" class="mat-elevation-z8" style="width: 100%;">
    <!-- Columna de Patente -->
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef> Patente </th>
      <td mat-cell *matCellDef="let registro"> {{ registro.patente }} </td>
    </ng-container>

    <!-- Columna de Oblea -->
    <ng-container matColumnDef="oblea">
      <th mat-header-cell *matHeaderCellDef> Número de Oblea </th>
      <td mat-cell *matCellDef="let registro"> {{ registro.oblea }} </td>
    </ng-container>

    <!-- Encabezado y filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

